[submodule "Week-17/Paytm-project"]
	path = Week-17/Paytm-project
	url = https://github.com/Aksh002/Paytm-project-adv.git
[submodule "Week-17/paytm-project"]
	path = Week-17/paytm-project
	url = https://github.com/Aksh002/Paytm-project-adv.git
[submodule "Online-ExcaliDraw"]
	path = Online-ExcaliDraw
	url = https://github.com/Aksh002/Online-ExcaliDraw.git
